.popup{
  height: 100%;
  width: 100%;
  background-color: rgba($color-black, .9);
  z-index: 6;
  position: fixed;
  top: 0rem;
  left: 0rem;
  &__content{
    @include center;
    height: 50rem;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
  }
}